body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
}

button {
    width: 90px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header button {
    background-color: #92a1d1;
}

#container {
    width: 770px;
}

#weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
    text-align: center;
}

#weekdays div {
    width: 100px;
    padding: 10px;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover {
    background-color: #e8faed;
}

.day+#currentDay {
    background-color: #e8f4fa;
}

.event {
    font-size: 8px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 3px;
    max-height: 55px;
    overflow: hidden;
    margin: 1px;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 560px;
    top: 10px;
    left: calc(40% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#names,
#phone {
    padding: 4px;
    width: 40%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#cackeCode,
#age {
    padding: 4px;
    width: 20%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#kidsNumber,
#prise {
    padding: 4px;
    width: 11%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#quantity {
    padding: 2px;
    width: 11%;
}

#descript {
    padding: 2px;
    width: 30%;
}

#cackeTaste,
#HBDName {
    padding: 4px;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#kaparoNomer,
#kaparo {
    padding: 4px;
    width: 20%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#form {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#names.error {
    border: 2px solid red;
}

#age.error {
    border: 2px solid red;
}

#time.error {
    border: 2px solid red;
}

#phone.error {
    border: 2px solid red;
}

#btnMenu {
    background-color: #2f8bc0;
}

#closeButton,
#cancelButton {
    background-color: #40c02f;
}

#deleteButton,
#deleteBtn {
    background-color: #d36c6c;
}

#saveButton,
#editButton,
#editBtn {
    background-color: #2e2bec;
}


/* #closeButton {
    background-color: #92a1d1;
} */

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.small {
    float: left;
    background-color: white;
    width: 150px;
    text-align: center;
    border-radius: 0 16px 16px 0;
}

.small>img {
    max-width: 130px;
    max-height: 70px;
    margin: 16px auto;
    display: block;
}

h2 {
    color: rgb(59, 62, 228);
    text-align: center;
}

h3 {
    color: #d36c6c;
    text-align: left;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
}

#име {
    color: #d36c6c;
}

#години {
    color: #d36c6c;
}

#час {
    color: #d36c6c;
}